.Board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.PlayerHand {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.Board-Middle {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  background-color: rgb(19, 18, 18);
}



.Player-Controls {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}


.Player-Controls button {
  padding: 0.5rem;
  background-color: rgb(221, 159, 159);
  width: 150px;
}

.PlayerIsOut {
  background-color: green !important;
}

.Board-Details {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.Board-Score {
  display: flex;
  justify-content: space-between;
}

.HowToPlay {
  width: 5%;
  align-self: flex-end;
  font-size: 3rem;
  border: none;
  background: none;
}

.HowToPlay:hover {
  cursor: pointer;
}

.Popup-Box {
  color: rgb(238, 201, 201);
  font-size: 1.2rem;
  position: absolute;
  background-color: rgb(17, 16, 16);
  z-index: 5;
  margin: 0 auto;
  left: 25%;
  top: 29%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 2%;
  overflow: scroll;
}

.Popup-Box-Header {
  color: rgb(238, 201, 201);
  letter-spacing: 5px;
}

.Popup-Box-Details {
  position: absolute;
  top: 20%;
  right: 90%;
  font-size: 1.2rem;
  left: 4%;
  width: 80%;
  font-size: 1.2rem;
}

.Deck {
  margin: 2rem;
  padding: 0;
  border: none;
  border-radius: 8%;
  background-color: rgba(255, 255, 255, 0.712);
  outline: none;
  cursor: pointer;
}

.Deck:active {
  outline: none;
}