.Card-Wild {
  display: flex;
  flex-direction: column;
}

.Card-Wild input {
  max-width: 100px;
  margin: 0 auto;
}

.Card {
  padding: 2px;
  margin: 5px;
  height: 10rem;
  width: 8.4rem;
}

.Card-Wild {
  background-color: rgb(104, 104, 173);
  margin: 2px;
}

.Card:hover {
  cursor: pointer;
}